/* Extra large devices (large desktops, 1500px and up) */
@media only screen and (max-width: 1500px) {
    .Hero-Container--Item-Left {
        width: 50%;
        text-align: center;
        display: flex;
        flex-flow: column;
        order: 1;
    }
    .Hero-Container--Item-Right {
        width: 40%;
    }
    .Hero-Container--margin {
        margin-left: 100px;
        margin-top: 50px;
    }
    .Hero--Desc {
        margin-top: 0rem;
    }
    .Hero-CTA {
        margin-top: 0rem;
    }
    .Podcast-Desc {
        width: 600px;
        text-align: center;
    }
    /*.Platform--Item-Right {
        XXXXX
    }*/
    .Message-From-Founder--Box {

        margin-top: 70px;
    }
} 