@media only screen and (max-width: 1024px) {
    .Hero-Container--Item-Left {
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: column;
        order: 1;
    }
    .Hero-Container--Item-Right {
        width: 40%;
    }
    .Podcast-Desc {
        width: 80%;
        text-align: center;
    }
    .Message-From-Founder--Box {

        margin-top: 45px;
    }
    .InPerson--Row {
        justify-content: center;
    }
    .InPerson--Margin {
        
    }
    .InPerson--Item-Right {
        width: 90%;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .InPerson--H1 {
        text-align: center;
    }
    .InPerson--Desc {
        text-align: center;
    }
    .Platform-CTA {
        justify-content: center;

    }
}    