/****** CORE *****/

:root {
    --medium-purple: #8f54aa;
    --dark-lavender: #88629a;
    
    --very-light-pink: #f3f3f3;
    --light-grey: #7f7f7f;
    --light-grey: #666666;
    --mid-grey: #444444;
    --light-black: #1f2432;
    --black: #000000;
}

html {
  font-size: 16px;
}

.light-grey {
  color: var(--light-grey);
}

.mid-grey {
  color: var(--mid-grey);
}

/***** GENERAL ******/

body {
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.wrapper {
  display: grid;  
  padding-right: 0;
  padding-left: 0;
  grid-template-columns: 1fr;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.content {
  grid-column: 1 / -1;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/********* HEADER ************/

.header--link {
  height: 1.375rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.0625rem;
  color: var(--mid-grey);
  text-transform: uppercase;
}

.header--cta-button {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 25px;
  border: solid 2px var(--dark-lavender);
  background-color: var(--dark-lavender);
  margin: 0rem 5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.0625rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}



/*** Mobile Nav Menu ****/
  /* header */
  
  .header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
   
    align-items: center;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 6px 20px;
    text-decoration: none;
    margin-top: 6px;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding-top: 6px;
    text-decoration: none;
    margin-left: 4.25rem;
    max-width: 13.75rem;
    margin-right: auto;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 340px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  
  @media (min-width: 1350px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header--link {
      
    }
  }

/******** CONTENT *********/


/****** HERO SECTION *****/

  .Hero-Container {
    margin-top: 4rem;
    display: grid;
  }

  .Hero--Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Hero-Container--Item-Left {
    order: 0;
    justify-content: start;
    width: 50%;
  }
  
  .Hero-Container--Item-Right {
    order: 1;
    justify-content: end;
    margin-left: auto;
    width: 40%;
  }

  .Hero-Container--margin {
    margin-left: 100px;
    margin-top: 80px;
  }
 
  .Hero--H1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 0.11125rem;
    text-align: left;
    color: var(--mid-grey);
  }

  .Hero--Desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: var(--mid-grey);
    margin-top: 3rem;
    text-align: left;
  }

  .Hero-CTA {
    background-color: var(--medium-purple);
    width: 20rem;
    margin-top: 2rem;
  }

  .CTA--Text {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: 1.3125rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 1rem 1rem;
    text-transform: uppercase;
  }

  /****** SECTION ******/

.Section--Outer {
    padding: 6rem 1rem;
    display: flex;
}

.Section-Alter-Bg {
  background-color: var(--very-light-pink);
}

.Section--Container {
  margin-right: auto;
  margin-left: auto;
}

.Tight {
  max-width: 60rem;
}

.Section-Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.2225rem;
  text-align: center;
  color: var(--mid-grey);
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.Section-Para {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-top: 1.5rem;
}

/**** TEAM ****/

.Team-Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.111rem;
  text-align: center;
  color: var(--mid-grey);
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.Team-Para {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-top: 1.5rem;
}

.team-header {
  display: flex;
  flex-direction: column;
}


.Team-Members--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Team-Members--Person {
  margin: 2rem 2rem;
  width: 400px;
}

.Team-Members--Avatar {
  margin-bottom: 2rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.Team-Members--Name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.Team-Members--Desc {
  font-family: Helvetica;
  font-size: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--light-grey);
}


/**** VALUES ****/

.Values--Outer {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
}

.Values-Alter-Bg {
background-color: var(--very-light-pink);
}

.Values--Container {
margin-right: auto;
margin-left: auto;
}

.Values-Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.111rem;
  text-align: center;
  color: var(--mid-grey);
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.values-header {
  display: flex;
  flex-direction: column;
}


.Values--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Values-Members--Img {
  margin-bottom: 2rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.Values-Item {
  margin: 3rem 2rem;
  width: 400px;
}

.Values-Item--Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.Values-Item--Desc {
  font-family: Helvetica;
  font-size: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--light-grey);
}

/**** BULLETS ****/

.Bullet--Outer {
  padding-top: 6rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;

}

.Bullet--Container {
  margin-right: auto;
  margin-left: auto;
}

.Bullet--Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.111rem;
  text-align: center;
  color: var(--mid-grey);
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.bullet-header {
  display: flex;
  flex-direction: column;
}

.Bullet--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Bullet-Col--Left {
  justify-content: start;
  padding: 0rem 2rem;
}

.Bullet-Col--Right {
  justify-content: end;
  padding: 0rem 2rem;
}

.Bullet--List {
  list-style: none;
  white-space: nowrap;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.Bullet--Item {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  margin-top: 1.5rem;
  text-transform: uppercase;
  list-style: none;
}

.Bullet-Image {
  padding-right: 1rem;
}


/**** TESTIMONIAL *****/

.Testimonial--Outer {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
} 

.Testimonial--Container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3rem;
}

.Testimonial--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Testimonial--Bg {
  background-color: #3B3B3B;
}

.Testimonial--Text {
  letter-spacing: 0.0625rem;
  text-transform: initial;
  font-size: 1.875rem;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding-top: 0;
  padding-bottom: 1.25rem;
  font-family: "Montserrat";
  line-height: 1.3em;
  margin: 1.125rem 0px;
  padding: 0rem 2rem;
}

.Testimonial--Text--Narrow {
  letter-spacing: 0.0625rem;
  text-transform: initial;
  font-size: 1.875rem;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding-top: 0;
  padding-bottom: 1.25rem;
  font-family: "Montserrat";
  line-height: 1.3em;
  margin: 1.125rem 0px;
  padding: 0rem 4rem;
}

.testimonial-person {
  justify-content: start;
}

.testimonial-quote {
  justify-content: end;
  width: 50%;
}

.Testimonial-Person--Image {
  padding-bottom: 0rem;
}

.Testimonial-Person--About-1 {
  letter-spacing: 0px;
  text-transform: initial;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  padding-top: 0;
  padding-bottom: 1.25rem;
  font-family: "Montserrat";
  line-height: 1.3em;
  max-width: 12.5rem;
}

.Testimonial-Person--About-2 {
  letter-spacing: 0px;
  text-transform: initial;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  padding-top: 0;
  padding-bottom: 1.25rem;
  font-family: "Montserrat";
  line-height: 1.3em;
  max-width: 18.75rem;
}

.testimonial-person-2 {
  justify-content: start;
}

.testimonial-quote-2 {
  justify-content: end;
  width: 60%;
}

/**** Success CTA *****/

.Success-CTA--Outer {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
} 

.Success-CTA--Container {
  margin-right: auto;
  margin-left: auto;
}

.Success-CTA--Row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.Success-CTA--H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.11125rem;
  color: var(--mid-grey);
  text-align: center;
}

.Success-CTA {
  background-color: var(--medium-purple);
  width: 20rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.Success-CTA--Text {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 1.3125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 1.0625rem 0rem;
}

/******* GROWTH ITEMS *******/

.Growth-Item--Outer {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;

}

.Growth-Item-Alter-Bg {
background-color: #3a3a3a;
}

.Growth-Item--Container {
margin-right: auto;
margin-left: auto;
}

.Growth-Item-Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.111rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.Growth-Item-Para {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-top: 1.5rem;
}


.growth-header {
  display: flex;
  flex-direction: column;
}

.Growth-Item--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Growth-Item {
  padding: 4rem 1rem;
  width: 300px;
}

.Growth-Item-Members--Avatar {
  margin-bottom: 2rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.Growth-Item-Item--Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.Growth-Item-Members--Desc {
  font-family: Helvetica;
  font-size: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.mk-svg-icon {
  fill: #ffffff;
  width: 	3.75rem;
  padding-bottom: 2rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}


/**** Experts CTA *****/

.Experts-CTA--Outer {
  padding-top: 6rem;
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;

} 

.Experts-CTA--Container {
  margin-right: auto;
  margin-left: auto;
}

.Experts-CTA--H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.11125rem;
  text-align: center;
  color: var(--mid-grey);
  padding-bottom: 2rem;
}

.Experts-CTA {
  background-color: var(--medium-purple);
  width: 20rem;
  margin-top: 2.8rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.Experts-CTA--Text {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 1.3125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 1.0625rem 4.5rem;
}


/**** STATS *****/

.Stats--Outer {
  padding-top: 6rem;
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;

} 

.Stats--Container {
  margin-right: auto;
  margin-left: auto;
}

.Stats--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Stats--H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.11125rem;
  text-align: center;
  color: var(--mid-grey);
  padding-bottom: 2rem;
}

.Stats {
  background-color: var(--medium-purple);
  width: 20rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.Stats--Text {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 1.3125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 1.0625rem 4.5rem;
}


/**** Final CTA *****/

.Final-CTA--Outer {
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  background-color: var(--medium-purple);
} 

.Final-CTA--Container {
  margin-right: auto;
  margin-left: auto;
}

.Final-CTA--H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.11125rem;
  color: #ffffff;
  text-align: center;
}

.Final-CTA {
  background-color: #000;
  width: 20rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.Final-CTA--Text {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 1.3125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 1.0625rem 4.5rem;
}

/****** HOME PAGE **************************************************************************/
/****** Home Page - HEADER *****/

.Home-Page--Hero-BG {
  width: 100vw;
  height: 100vh;
  display: flex;

  background-image: url(../img/home-page/gallaher-edge-hero-1-2-x@3x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Home-Page--Hero-Desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: var(--mid-grey);
  margin-top: 3rem;
  text-align: left;
}

/****** Home Page - OPTIONS SPLIT *****/

.Option-Split--Outer {
  padding-top: 6rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
}

.Option-Split--Container {
  margin-right: auto;
  margin-left: auto;
}

.Option-Split--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Option-Split-Col--Left {
  justify-content: start;
  padding: 1rem 4rem;
  width: 450px;
}

.Option-Split-Col--Right {
  justify-content: end;
  padding: 1rem 4rem;
  width: 450px;
}

.Option-Split--Heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.111rem;
  color: var(--mid-grey);
  text-transform: uppercase;
  margin: 0rem 0rem;
  letter-spacing: 1.56px;
  text-align: center;
}

.Option-Split--Desc {
  font-family: Helvetica, sans-serif;
  font-size: 	1.125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: var(--mid-grey);
}

.Option-Split--CTA-Button {
  background-color: var(--medium-purple);
  width: 250px;
  margin-top: 2rem;
  justify-content: center;
}

/***** Home Page -- MESSAGE FROM FOUNDER ***********/

.Message-From-Founder--Container {
  display: grid;
}

.Message-From-Founder--Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Message-From-Founder--BG {
  width: 100vw;
  height: 60vh;
  display: flex;
  background-image: url(../img/home-page/laura-meet-the-founder.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Message-From-Founder--Box {
  margin-left: 300px;
  margin-top: 80px;
  max-width: 800px;
}

.Message-From-Founder--H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Message-From-Founder--Desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 2rem;
  text-align: left;
}

.Message-From-Founder--Sig {
  font-family: "Alex Brush";
  font-size: 40px;
  color: #ffffff;
  margin-left: 20px;
}